numpy
face_alignment
imageio
imageio-ffmpeg
librosa
numba
resampy
pydub
scipy
kornia
tqdm
yacs
pyyaml
joblib
scikit-image
basicsr
facexlib
gradio
gfpgan
av
safetensors
bark
boto3
funcy
scipy
tokenizers
torch
tqdm
encodec
huggingface_hub
fairseq
audiolm_pytorch